@import "tailwindcss";

#root {
  width: 100%;
}


.animate-pulse-scale {
  animation: scaleInOut 2.5s ease-in-out infinite;
}

@keyframes scaleInOut {
  0% {
    scale: .95;
  }
  50% {
    scale: 1;
  }
  100% {
    scale: .95;
  }
}


.custom-scrollbar {
  scrollbar-width: thin;              /* Firefox */
  scrollbar-color: #fff transparent;  /* Firefox */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 9999px;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 9999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}
